@define-color theme_fg rgba(248,248,252,.98);
@define-color theme_fg_secondary rgba(215,220,225,.78);
@define-color theme_bg rgba(15,15,15,.7);
@define-color popup_bg rgba(15,15,15,.7);
@define-color module_bg rgba(15,15,15,.5);
@define-color module_hover_bg rgba(210,215,225,.35);
@define-color button_bg rgba(130,135,145,.28);
@define-color button_hover_bg rgba(15,15,15,0.9);
@define-color accent_color rgba(10,132,255,.8);
@define-color accent_color_hover #198de5;
@define-color border_light rgba(255,255,255,.18);
@define-color border_dark rgba(0,0,0,.06);
@define-color border_medium alpha(@border_light,.5);
@define-color icon_primary @theme_fg;
@define-color icon_secondary rgba(215,220,225,.88);
@define-color slider_trough_bg rgba(50,55,65,.35);
@define-color slider_thumb_bg white;
@define-color close_button_bg rgba(110,110,115,.15);
@define-color close_button_hover_bg rgba(130,130,135,.3);
@define-color mpris_player_bg rgba(15,15,15,.7);
@define-color mpris_player_buttons rgba(15,15,15,.7);

* {
  font-family:"JetBrainsMono Nerd Font",monospace;
  font-size:17px;
  color:@theme_fg;
  border:none;
  border-radius:0;
  background:none;
  padding:0;
  margin:0;
  box-shadow:none;
  text-shadow:none;
  outline:none;
}

.control-center {
  background-color:@theme_bg;
  border:1px solid @border_medium;
  border-top-color:@border_light;
  border-bottom-color:@border_dark;
  border-radius:12px 0px 0px 12px;
  padding:28px;
  min-width:380px;
}

.widget-volume,
.widget-backlight,
.widget-buttons-grid,
.control-center-list>box>*:not(.widget-title) {
  background-color:@module_bg;
  border-radius:18px;
  padding:18px;
  margin-bottom:14px;
  transition:all .15s ease-in-out;
  border:1px solid @border_medium;
}

.widget-volume,
.widget-backlight {padding:14px 18px;}
.widget-buttons-grid {padding:12px;}
.control-center>box>*:last-child {margin-bottom:0;}

.widget-title {
  background:transparent;
  border:none;
  padding:4px 6px 12px;
  margin-bottom:8px;
}
.widget-title label {
  font-family:'Inter';
  font-size:17px;
  font-weight:500;
  color:@theme_fg_secondary;
  margin-left:4px;
  background:none;
}
.widget-title button {
  font-family:inherit;
  font-size:16px;
  color:@theme_fg;
  background-color:@button_bg;
  border:none;
  border-radius:10px;
  padding:7px 16px;
  transition:background-color .15s ease;
}

.widget-title button:hover{
  background-color:@button_hover_bg;
  transform:scale(1.05);
}
.widget-title button:active {
  background-color:@button_hover_bg;
  transform: scale(0.95);
}

.widget-mpris {
  padding:0;
  border:none;
  background:transparent;
}
.widget-mpris .widget-mpris-player {
  background-color:@mpris_player_bg;
  border-radius:12px;
  border:1px solid @border_medium;
  padding:16px;
}
.widget-mpris .widget-mpris-title {
  font-size:20px;
  font-weight:600;
  color:@theme_fg;
  background-color: @mpris_player_buttons;
  border-radius: 6px;
  margin-bottom:4px;
}
.widget-mpris .widget-mpris-subtitle {
  font-size:16px;
  color:@theme_fg_secondary;
  border-radius:6px;
  background-color: @mpris_player_buttons;
}

.widget-mpris .widget-mpris-player button {
  background-color:@mpris_player_bg;
  color:@icon_primary;
  transform: scale(0.95);
  transition: all 0.15s ease-in-out;
  border-radius: 6px;
}

.widget-mpris .widget-mpris-player button:hover {
  background-color:@button_hover_bg;
  color:@icon_primary;
  transform:scale(1.05);
  border-radius: 12px;
}
.widget-mpris .widget-mpris-player button:disabled {color:alpha(@icon_secondary,.3);}

.widget-volume label,
.widget-backlight label {
  font-size:24px;
  color:@icon_primary;
  min-width:24px;
  margin-right:14px;
}
scale trough {
  min-height:12px;
  border-radius:6px;
  background-color:@slider_trough_bg;
}
scale trough progress {
  min-height:12px;
  border-radius:6px;
  background-color:@accent_color;
  transition:background-color .15s ease;
}
scale:hover trough progress {background-color:@accent_color;}
trough highlight {
  padding:5px;
  background:@accent_color;
  border-radius:20px;
  box-shadow:0 0 5px rgba(0,0,0,.5);
  transition:all .7s ease;
}
scale slider {
  min-width:14px;
  min-height:14px;
  border-radius:7px;
  background-color:@slider_thumb_bg;
}

.widget-buttons-grid>flowbox {background:none;}
.widget-buttons-grid>flowbox>flowboxchild {background:none;}
.widget-buttons-grid>flowbox>flowboxchild>button {
  border-radius:66px;
  padding:33px;
  min-width:24px;
  min-height:24px;
  color:@icon_secondary;
  transition:background-color .15s ease,color .15s ease;
}
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: rgba(159, 159, 159, 0.7);
  color:@icon_primary;
  transform:scale(1.05);
}
.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
  background-color:@accent_color;
  color:#fff;
}
.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked:hover {background-color:@accent_color_hover;}

.control-center-list {
  padding-bottom:1px;
  background-color:transparent;
}
.control-center .notification-row {margin-bottom:12px;}
.control-center .notification-background {
  background-color:@module_bg;
  border:1px solid @border_medium;
  padding:16px;
  border-radius:18px;
  transition:background-color .15s ease;
}
.control-center .notification-row:hover .notification-background {
  border-radius:18px;
  background-color:@module_hover_bg;
}
.control-center .notification .summary {
  font-weight:600;
  color:@theme_fg;
  margin-bottom:5px;
}
.control-center .notification .body {color:@theme_fg_secondary;}
.control-center .notification .time {
  font-size:15px;
  font-weight:500;
  color:@theme_fg_secondary;
  margin-left:12px;
}
.control-center .close-button {
  background-color:@close_button_bg;
  border-radius:50%;
  min-width:24px;
  min-height:24px;
  transition:background-color .15s ease;
}
.control-center .close-button:hover {background-color:@close_button_hover_bg;}
.control-center .close-button image {
  margin-right:12px;
  color:@icon_secondary;
}
.control-center .notification image {
  margin-right:12px;
  min-width:36px;
  min-height:36px;
  border-radius:8px;
}

.floating-notifications .notification-row {margin-bottom:12px;}
.floating-notifications .notification-background {
  background-color:@popup_bg;
  border:1px solid @border_light;
  border-radius:18px;
  padding:18px;
  margin:8px 14px;
  transition:background-color .15s ease;
}
.floating-notifications .notification-row:hover .notification-background {background-color:alpha(@popup_bg,1.1);}
.floating-notifications .notification .summary {
  font-weight:700;
  color:@theme_fg;
}
.floating-notifications .notification .body {color:@theme_fg;}
.floating-notifications .notification .time {
  font-size:15px;
  color:@icon_secondary;
  margin-left:10px;
}
.floating-notifications .notification image {
  min-width:48px;
  min-height:48px;
  margin-right:14px;
  border-radius:10px;
}
.floating-notifications .close-button {
  background-color:@close_button_bg;
  border-radius:50%;
  min-width:28px;
  min-height:28px;
  transition:background-color .15s ease;
}
.floating-notifications .close-button:hover {background-color:@close_button_hover_bg;}
.floating-notifications .close-button image {
  margin-right:12px;
  color:@icon_secondary;
}
.floating-notifications .notification-alt-actions {
  margin-top:16px;
  padding-top:16px;
  border-top:1px solid @border_medium;
}
.floating-notifications .notification-action button,
.floating-notifications .notification-alt-actions button {
  font-size:16px;
  color:@theme_fg;
  background-color:@button_bg;
  border-radius:12px;
  padding:8px 18px;
  transition:background-color .15s ease;
}
.floating-notifications .notification-action button:hover,
.floating-notifications .notification-alt-actions button:hover {background-color:@button_hover_bg;}
